<% if (locals.file) { %>
    <div>
      <div>
          <%= file.name %>
      </div>
      <% if (locals.owner) { %>
        <div>
          <a href=<%= `/storage/file/${file.id}` %> >Details</a>
        </div>
      <% } 
      <% if (locals.sharedCode) { %>
        <div>
          <a href=<%= `/share/${sharedCode}/${file.id}` %> >Details</a>
        </div>
      <% } %>
    </div>
<% } %>