<!DOCTYPE html>
<html>
  <head>
  </head>
<body>
  <div class="pageContainer">
    <main>
      <div>
        <%- include("partials/errors.ejs") %>
        <form action="/folder/create" method="POST">
          <input type="text" name="name" required>
          <button type="submit">Create Folder</button>
        </form>
      </div>
    </main>
  </div>
</body>
</html>