<html>
  <head>
  </head>
  <body>
    <div class="pageContainer">
        <h1>HomePage</h1>
        <%- include("partials/errors.ejs") %>
        <% if (locals.user) {%>
            <h1>WELCOME BACK <%= user.username %></h1>
            <a href="/folder/index">Folders</a>
            <a href="/folder/create">Create Folder</a>
            <a href="/storage/upload">Upload File</a>
            <a href="/folder/share">share a folder!</a>
            <a href="/folder/share/index">view all share codes</a>
            <a href="/logout">LOG OUT</a>
        <% } else {%>
            <a href="/login">Login</a>
        <%  } %>
        <a href="/signup">Signup</a>
    </div>
  </body>
</html>