<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Share this Code!</h1>
  <%- include("partials/errors.ejs") %>
  <div>
        <a target="_blank" href="<%= locals.link %>"><%= locals.link %></a>
        <a href="/">Back Home</a>
  </div>
</body>
</html>