<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <h1>New Upload</h1>
    <%- include("partials/errors.ejs") %>
    <form action="/storage/upload" method="POST" enctype="multipart/form-data">
    <input type="file"  name="uploaded_file">
      <button type="submit">Upload</button>
    </form>
  </body>
  </html>